<p><%= notice %></p>
<div class="col-lg-12">
  <%= render "admin/students/search_form", q: @q %>
  <h1>Listing Students</h1>
  <%= link_to 'New Student', new_admin_student_path, class: "btn btn-primary btn-lg mb-3" %>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Student</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @students.each do |student| %>
        <tr>
          <td><%= student.name_with_email %></td>
          <td>
            <%= link_to 'View', admin_student_path(student), class: "btn btn-primary btn-sm" %>
            <%= link_to 'Edit', edit_admin_student_path(student), class: "btn btn-warning btn-sm" %>
            <%= link_to 'Delete', admin_student_path(student), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %>    
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @students %>
</div>