<div class="col-lg-10">
  <div class="card rounded-0 shadow mt-5 mb-5">
    <div class="card-body">
      <% if @student.profile_image.attached? %>
        <%= image_tag @student.profile_image, style: "width: 200px;height:300px;" %>
      <% end %>
      <p><%= notice %></p>
      <h1>Student Details</h1>

      <p><strong>Name: </strong> <%= @student.full_name %></p>

      <p><strong>Email: </strong><%= @student.email %></p>

      <p><strong>Date of Birth: </strong><%= formatted_date(@student.date_of_birth) %></p>

      <p><strong>Age: </strong><%= @student.age %></p>

      <p><strong>Permanent Address: </strong><%= @student.permanent_address %></p>
      <p><strong>Local Address: </strong><%= @student.local_address %></p>
      <p><strong>Permanent Contact: </strong><%= @student.permanent_contact_number %></p>
      <p><strong>Alternate Contact: </strong><%= @student.alternate_contact_number %></p>

      <%= link_to 'Back', admin_students_path, class: "btn btn-primary" %>
      <%= link_to 'Edit', edit_admin_student_path(@student), class: "btn btn-secondary" %>
    </div>
  </div>
</div>