<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <%= link_to admin_dashboard_path, class: "sidebar-brand d-flex align-items-center justify-content-center" do %>
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fas fa-users"></i>
    </div>
    <div class="sidebar-brand-text mx-3">Student Management</div>
  <% end %>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item active">
    <%= link_to admin_dashboard_path, class: "nav-link" do %>
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span>
    <% end %>
  </li>

    <!-- Divider -->
  <hr class="sidebar-divider">

    <!-- Heading -->
  <div class="sidebar-heading">
    Interface
  </div>

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
    aria-expanded="true" aria-controls="collapseTwo">
      <i class="fas fa-fw fa-cog"></i>
      <span>Resources</span>
    </a>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <%= link_to "Students", admin_students_path, class: "collapse-item" %>
        <%= link_to "Courses", admin_courses_path, class: "collapse-item" %>
        <%= link_to "Projects", admin_projects_path, class: "collapse-item" %>
        <%= link_to "Blogs", admin_blogs_path, class: "collapse-item" %>
      </div>
    </div>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>
</ul>