<h1>Courses</h1>
<%= link_to 'New Course', new_admin_course_path, class: "btn btn-primary btn-lg mb-3" %>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.name %></td>
        <td><%= course.description %></td>
        <td>
          <%= link_to 'Show', admin_course_path(course), class: "btn btn-primary btn-sm" %>
          <%= link_to 'Edit', edit_admin_course_path(course), class: "btn btn-warning btn-sm" %>
          <%= link_to 'Destroy', admin_course_path(course), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %>    
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @courses %>